//背景色
$bg_with_1:#FAFAFA;
$bg_with_2:#FFFFFF;
$bg_with_3:#fafafa;
$bg_balck:#FFFFFF;
$bg_34:#343638;
//主色
$main_color:#E0473E;
//辅色
$auxiliary_color_FF:#FF9C09;
$auxiliary_color_F3:#F38503;
$auxiliary_color_CE:#CE0616;
$auxiliary_color_2B:#2B99FF;
$auxiliary_color_19:#1984E7;
$auxiliary_color_C9:#C9C9C9;
//文字颜色
$font_color_33:#333333;
$font_color_66:#666666;
$font_color_99:#999999;
$font_color_ff:#ffffff;
$font_color_64:#646464;
//边框
$border_normal: 1px solid #999999;
$border_none: 1px solid #C9C9C9;
$border_hover: 1px solid #E0473E;
//字体大小
$font_10: 10px;
$font_12: 12px;
$font_14: 14px;
$font_16: 16px;
$font_18: 18px;
$font_20: 20px;
$font_22: 22px;
//圆角
$radius: 4px;
//通用部分
body{
  font-size: 12px;
  min-width: 1200px;
}
.bg_34{
  background: $bg_34;
}
.bg_ff{
  background: $bg_with_2;
}
.bg_E5{
  background: #E5E5E5;
}
.bg_with_1{
  background: $bg_with_1;
}
.bg_with_3{
  background: $bg_with_3;
}
.template_pb{
  padding-bottom: 40px;
}
.auto_img{
  width: 100%;
  display: block;
  //max-width: 1280px;
  margin: 0 auto;
}
.template_link{
  color: $font_color_66;
  font-size: $font_12;
  a{
    font-size: $font_12;
    color: $font_color_66;
  }
}
.curriculum_title{
  font-size: 0;
  margin-bottom: 30px;
  span,label{
    display: inline-block;
    vertical-align: middle;
  }
  span{
    width: 6px;
    height: 24px;
    background: $main_color;
    margin-right: 10px;
  }
  label{
    font-size: $font_18;
    color: $font_color_33;
    font-weight: bold;
  }
}
.problem_case{
  font-size: 16px;
  line-height: 24px;
  position: relative;
  color: $font_color_33;
  .problem{
    span{
      color: $main_color;
    }
    margin-bottom: 25px;
  }
  .answer{
    position: relative;
    padding-left: 20px;
    margin-bottom: 25px;
    span{
      position: absolute;
      left: 0;
      color: $main_color;
    }
  }
}
.font_0{
  font-size: 0;
}
// 发布删除成功
.tip_pop{
  position: fixed;
  width: 250px;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background: $bg_with_2;
  box-shadow: 2px 2px 4px rgba(102, 102, 102, 0.15);
  border-radius: 4px;
  .icon,p{
    display: inline-block;
    vertical-align: middle;
    line-height: 94px;
  }
  .icon{
    width: 34px;
    height: 34px;
  }
  p{
    color: $font_color_33;
    font-size: $font_18;
    margin-left: 5px;
  }
}
// 左侧固定
.left_fidex{
  position: fixed;
  left: 0;
  z-index: 100000000000000000000;
  top: 50%;
  background: $bg_with_2 ;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  padding: 12px;
  box-shadow: 2px 2px 4px rgba(102, 102, 102, 0.15);
  border-radius: 4px;
  li:not(:last-child){
    margin-bottom: 20px;
  }
  li{
    text-align: center;
    cursor:pointer;
    position: relative;
    .tip{
      position: absolute;
      right: -102px;
      top: 50%;
      -webkit-transform: translate(20%,-50%);
      -moz-transform: translate(20%,-50%);
      -ms-transform: translate(20%,-50%);
      -o-transform: translate(20%,-50%);
      transform: translate(20%,-50%);
      display: none;
    }
    .hover{
      display: none;
    }
    i{
      display: block;
      font-size: $font_14;
      color: $font_color_33;
    }
    .select{
      display: none;
    }
  }
  .default,.hover,.select{
    width: 22px;
    height: 22px;
  }
  li.active,li.active:hover{
    .default,.hover{
      display: none;
    }
    .select{
      display: inline-block!important;
    }
  }
  li:hover{
    .default{
      display: none;
    }
    .hover{
      display: inline-block;
    }
    .tip{
      display: block;
    }
  }
}
//页面内容宽度限制
.content{
  width: 1200px;
  margin: 0 auto;
}
//右侧固定
.right_fidex{
  position: fixed;
  right: 0;
  z-index: 100000000000000000000;
  top: 50%;
  background: $bg_with_2;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  box-shadow: 2px 2px 4px rgba(102, 102, 102, 0.15);
  width: 48px;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  margin-right: 20px;
  li:not(:last-child){
    margin-bottom: 35px;
  }
  li{
    cursor:pointer;
    position: relative;
    .icon{
      font-size: 28px;
    }
    .tip{
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translate(-110%,-50%);
      -moz-transform: translate(-110%,-50%);
      -ms-transform: translate(-110%,-50%);
      -o-transform: translate(-110%,-50%);
      transform: translate(-110%,-50%);
      display: none;
    }
  }
  li:hover{
    .tip{
      display: block;
    }
  }
  .go_top:hover{
    .go_top_1{
      display: none!important;
    }
    .go_top_2{
      display: block!important;
      margin: 0 auto;
    }
  }
  p{
    font-size: $font_12;
    color: $font_color_66;
  }
}
//特殊按钮
.template_btn_t1{
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  line-height: 52px;
  color: $font_color_66;
  min-width: 159px;
  border: $border_normal;
  font-size: $font_16;
  &:hover{
    color: $main_color;
    border: $border_hover;
    transition: 0.15s;
  }
}
.template_btn_t1.active{
  color: $font_color_ff;
  background: $main_color;
  transition: 0.15s;
  border-color: $main_color ;
}
.template_btn_t2{
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  min-width: 220px;
  line-height: 44px;
  font-size: $font_16;
  border-radius: $radius;
  color: $font_color_66;
  border: $border_normal;
  &:hover{
    color: $main_color;
    border: $border_hover;
    transition: 0.15s;
  }
}
// 按钮颜色
.template_btn_red{
  color: $font_color_ff;
  background: $main_color;
  display: inline-block;
  text-align: center;
  &:focus{
    color: $font_color_ff;
    background: $auxiliary_color_CE;
    transition: 0.15s;
  }
}
.template_btn_blue{
  background: $auxiliary_color_2B;
  color: $font_color_ff;
  display: inline-block;
  text-align: center;
  &:focus{
    color: $font_color_ff;
    background: $auxiliary_color_19;
    transition: 0.15s;
  }
}
.template_btn_orange{
  background: $auxiliary_color_FF;
  color: $font_color_ff;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  &:focus{
    color: $font_color_ff;
    background: $auxiliary_color_F3;
    transition: 0.15s;
  }
}
//按钮大小
.template_btn_small{
  width: 58px;
  line-height: 26px;
  font-size: $font_14;
  border-radius: 50px;
}
.template_btn_large{
  border-radius: 91px;
  font-size: $font_16;
  width: 108px;
  height: 44px;
  line-height: 44px;
}
.template_btn_standard{
  width: 295px;
  cursor: pointer;
  line-height: 44px;
  border-radius: 4px;
  font-size: $font_16;
}
.template_btn_secondary{
  width: 71px;
  line-height: 34px;
  border-radius: 28px;
  font-size: $font_16;
}
//置灰
.btn_disabled{
  background: $font_color_99;
  cursor: auto;
  &:focus{
    background: $font_color_99;
  }
}
.btn_none{
  color: $font_color_66;
  border: $border_none;
  cursor: auto;
  &:hover{
    color: $font_color_66;
    border: $border_none;
  }
}
//弹层通用
.pay_mask,
.detail_mask{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  background: rgba(51, 51, 51, 0.4);
  .pop_content{
    background: $bg_balck;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
}
//头部
.header_case{
  height: 70px;
  position: relative;
  z-index: 1000000000000000000;
}
.header {
  top: 0;
  width: 100%;
  height: 70px;
  position: fixed;
  background: #FFFFFF;
  z-index: 1000000000000000000;
  .header_menu {
    height: 70px;
    min-width: 900px;
    line-height: 70px;
    white-space: nowrap;
    img {
      margin-right: 27px;
    }
    a {
      width: 140px;
      font-size: 18px;
      cursor: pointer;
      line-height: 70px;
      text-align: center;
      display: inline-block;
    }
    .active {
      color: #fff;
      background: $main_color;
    }
  }
  .login-register-btns {
    font-size: 16px;
    line-height: 70px;
    white-space: nowrap;
    margin: 0 30px 0 102px;
  }
  .avatar {
    display: none;
    line-height: 70px;
    margin: 0 50px 0 65px;
    span {
      font-size: 16px;
    }
  }
}
//尾
.footer{
  padding: 60px 0 30px;
  color: #fff;
  position: relative;
  .tip_text{
    color: $font_color_ff;
    font-size: $font_12;
    text-align: center;
  }
  .navigation{
    p{
      color: #fff;
      font-weight: bold;
      font-size: $font_16;
      margin-bottom: 15px;
    }
    li{
      margin-bottom: 20px;
    }
    a{
      color: $font_color_ff;
      display: inline-block;
      font-size: $font_14;
      margin-right: 40px;
    }
    margin-bottom: 10px;
  }
  .mid{
    position: absolute;
    text-align: center;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 0;
    >div{
      display: inline-block;
      img{
        width: 116px;
        display: block;
        margin: 0 auto;
      }
      p{
        color: $font_color_ff;
        font-size: $font_16;
        margin-top: 20px;
      }
    }
    div:first-child{
      margin-right: 65px;
    }
  }
  .serve{
    .serve_text_1{
      font-size: $font_14;
      font-weight: bold;
      margin-bottom: 35px;
      color:$font_color_ff ;
    }
    .serve_text_2{
      font-size: $font_14;
      line-height: 21px;
      color:$font_color_ff ;
    }
  }
}
//登陆
.pop_sign{
  width: 754px;
  border-radius: 10px;
  overflow: hidden;
  font-size: 0;
  background: $main_color!important;
  .sign_left{
    color: $font_color_ff;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    padding: 180px 40px 110px 40px;
    position: relative;
    .logo{
      position: absolute;
      width: 133px;
      height: 42px;
      top: 74px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
    }
    >ul{
      li{
        font-size: 0;
        .icon_img,div{
          display: inline-block;
          vertical-align: middle;
        }
        .icon_img{
          margin-right: 14px;
          width: 44px;
          height: 44px;
        }
        div{
          h3{
            color: $font_color_ff;
            font-size: $font_14;
            margin-bottom: 7px;
          }
          p{
            color: $font_color_ff;
            font-size: $font_12;
          }
        }
      }
      li:not(:last-child){
        margin-bottom: 45px;
      }
    }
  }
  .sign_right{
    min-height: 521px;
    box-sizing: border-box;
    background: $font_color_ff;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    position: relative;
    padding: 86px 94px 38px;
    >img{
      position: absolute;
      top: 40px;
      right: 40px;
      cursor:pointer;
    }
    .title>ul{
      margin-bottom: 40px;
      padding: 0 25px 0;
      li{
        font-size: $font_22;
        color: $font_color_99;
        cursor:pointer;
      }
      li.active{
        color: $font_color_33;
        cursor: auto;
      }
    }
    .sign_content{
      width: 328px;
      .currency{
        margin-bottom: 60px;
        li:not(:last-child){
          margin-bottom: 40px;
        }
        li{
          border-radius: $radius;
          position: relative;
          p,a{
            color: $main_color;
            font-size: $font_12;
          }
          .right_top{
            position: absolute;
            right: 0;
            top: -22px;
          }
          .left_bottom{
            position: absolute;
            left: 0;
            bottom: -22px;
          }
          .riht_bottom{
            position: absolute;
            right: 0;
            color: $auxiliary_color_2B;
            bottom: -22px;
            cursor:pointer;
          }
          .border_solide{
            border: $border_none;
            border-radius: $radius;
            font-size: 0;
            padding: 11px 20px 11px 17px;
            .img,span,input{
              display: inline-block;
              vertical-align: middle;
            }
            .img{
              width: 22px;
              height: 22px;
            }
            input{
              font-size: $font_14;
              color: $font_color_99;
              height: $font_16;
              width: 220px;
            }
            span,a{
              font-size: $font_14;
              color: $font_color_33;
              margin-right: 10px;
              margin-left: 4px;
            }
          }
          input::-webkit-input-placeholder {
            color: #999999;
          }
          input::-moz-placeholder {
            color: #999999;
          }
          input:-moz-placeholder {
            color: #999999;
          }
          input:-ms-input-placeholder {
            color: #999999;
          }
          .swich_type{
            display: inline-block;
            vertical-align: middle;
          }
        }
        .template_case{
          >div{
            position: relative;
            div>img{
              margin-right: 11px;
            }
            >img{
              margin-right: 11px;
            }
            input{
              width: 240px;
            }
            .swich_type{
              cursor:pointer;
              position: absolute;
              right: 11px;
              top: 50%;
              -webkit-transform: translateY(-50%);
              -moz-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              -o-transform: translateY(-50%);
              transform: translateY(-50%);
              .img:last-child{
                display: none!important;
              }
              .img:first-child{
                display: block!important;
              }
            }
            .swich_type.active{
              .img:last-child{
                display: block!important;
              }
              .img:first-child{
                display: none!important;
              }
            }
          }
        }
        .seend_case{
          .border_solide{
            box-sizing: border-box;
            width: 186px;
            input{
              width: 110px;
            }
          }
          .template_btn_red{
            color: $font_color_ff;
            font-size: $font_14;
            width: 116px;
          }
        }
      }
    }
    .template_btn_red{
      width: 100%;
    }
    .btn_disabled{
      background: $auxiliary_color_C9;
    }
    .wechat{
      margin-top: 23px;
      margin: 0 auto;
      text-align: center;
      margin-top: 22px;
      cursor:pointer;
      p{
        margin-top: 5px;
        font-size: $font_12;
        color: $font_color_66;
      }
    }
    .tip_text{
      margin-top: 30px;
      color: $font_color_66;
      font-size: $font_14;
      padding-left: 0px;
      position: relative;
      .img{
        width: 18px;
        height: 18px;
        position: absolute;
        left: -9px;
      }
      p{
        position: relative;
        left: 20px;
        a{
          color: $auxiliary_color_2B;
        }
      }
    }
  }
  .success_case,.wechat_case{
    background: $bg_balck;
    min-height: 521px;
    position: relative;
    padding: 116px 0px 128px;
    text-align: center;
    box-sizing: border-box;
    .subtitle{
      font-weight: bold;
      font-size: $font_22;
      margin-bottom: 45px;
    }
  }
  .success_case .tip_text{
    font-size: $font_18;
    color: $font_color_33;
    margin-top: 49px;
    span{
      color: $main_color;
    }
  }
  .wechat_case .tip_text{
    font-size: $font_14;
    color: $font_color_66;
    margin-top: 49px;
  }
  .colse_pop{
    position: absolute;
    top: 40px;
    right: 40px;
    cursor:pointer
  }
}
// 协议
.agreement{
  margin-top: 20px;
  padding: 33px 20px 18px;
  >p{
    text-align: center;
    font-size: $font_color_33;
    margin-bottom: 20px;
    font-size: $font_20;
    font-weight: bold;
  }
  ul{
    li{
      color: $font_color_33;
      font-size: $font_14;
      line-height: 21px;
      p,h3{
        margin-bottom: 30px;
        display: block;
      }
    }
  }
}
// 首页
.index_banner{
  img{
    width: 100%;
  }
  .swiper-pagination-bullet{
    background: rgba(255, 255, 255, 0.4);
    width: 14px;
    height: 14px;
    margin: 0 7px 0!important;
  }
  .swiper-pagination-bullet-active{
    background: rgba(255, 255, 255, 1);
    width: 40px;
    height: 14px;
    border-radius: 29px;
  }
}
.index_descriptive{
  padding: 20px 0 20px;
  ul{
    font-size: 0;
    li{
      display: inline-block;
      vertical-align: middle;
      width: 25%;
      text-align: center;
      h3{
        color: $main_color;
        font-size: $font_18;
        margin-bottom: 10px;
      }
      p{
        color: $font_color_64;
        line-height: 21px;
        font-size: $font_14;
      }
    }
  }
}
.template_index_title{
  text-align: center;
  h2{
    margin-bottom: 18px;
    font-size: $font_22;
    color: $font_color_33;
    margin-bottom: 18px;
  }
  p{
    color: $font_color_66;
    font-size: $font_14;
    line-height: 21px;
  }
}
.index_map{
  padding: 72px 0 88px;
  ul{
    margin-top: 94px;
    margin-bottom: 80px;
    font-size: 0;
    li:not(:last-child){
        margin-right: 2%;
    }
    li{
      width: 18.4%;
      display: inline-block;
      vertical-align: middle;
      img{
        width: 100%;
        height: 330px;
      }
      p{
        background: $main_color;
        color: $font_color_ff;
        font-size: $font_16;
        text-align: center;
        padding: 42px 0;
        line-height: 30px;
      }
    }
  }
}
.index_bg_img_1{
  background: url(../imagesPng/index_bg_1.png) center center no-repeat;
}
.index_bg_img_2{
  background: url(../imagesPng/index_bg_2.png) center center no-repeat;
}
.template_index_tool{
  padding: 70px 0 200px;
  img{
    display: block;
    margin: 95px auto 0;
  }
}
.template_index_potential_1{
  padding: 70px 0 130px;
  h2,p{
    color: $font_color_ff;
  }
}
.template_index_potential_2{
  padding-top: 75px;
  padding-bottom: 83px;
  .potential_list{
    display: inline-block;
    padding-left: 95px;
    vertical-align: middle;
    >div:not(:last-child){
      margin-bottom: 115px;
    }
    >div{
      font-size: 0;
      div,h3{
        display: inline-block;
        vertical-align: middle;
      }
      h3{
        font-weight: bold;
        font-size: 80px;
        line-height: 85px;
        color: #E0473E;
        padding-right: 30px;
      }
      div{
        :first-child{
          font-size: 18px;
          line-height: 27px;
          margin-bottom: 10px;
          color: #333;
        }
        :last-child{
          font-size: 16px;
          line-height: 24px;
          color: $font_color_66;
        }
      }
    }
  }
}
.template_index_bank{
  padding: 70px 0 60px;
  img{
    display: inline-block;
    margin-right: 22px;
    width: 180px;
    height: 90px;
    margin-bottom: 20px;
  }
  img:nth-child(6n+6) {
    margin-right: 0;
  }
  .banks{
    text-align: center;
    font-size: 0;
    padding-top: 58px;
  }
}
.template_index_dynamic{
  box-sizing: border-box;
  padding: 70px 70px 80px;
  .template_index_title>p{
    text-align: left;
  }
  .dynamic_content{
    margin-top: 40px;
    font-size: 0;
    .dynamic_title,.dynamic_body{
      display: inline-block;
      vertical-align: top;
    }
    .dynamic_title{
      width: 47%;
      margin-right: 2%;
      img{
        width: 100%;
      }
      .href_link_title{
        margin-top: 22px;
        color: $font_color_33;
        font-size: $font_16;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        width: 100%;
        font-weight: bold;
        display: block;
      }
      .href_link_text{
        margin-top: 10px;
        font-size: $font_14;
        color: $font_color_64;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        width: 100%;
        display: block;
      }
    }
    .dynamic_body{
      width: 51%;
      li:not(:first-child){
        padding-top: 24px;
      }
      li{
        .left_content{
          display: inline-block;
          vertical-align: top;
          text-align: center;
          padding: 6px 0 6px;
          width: 70px;
          margin-right: 28px;
          background: $main_color ;
          color: $font_color_ff;
          h3{
            font-size: $font_22;
            font-weight: normal;
            color: $font_color_ff;
          }
          p{
            font-size: $font_14;
            color: $font_color_ff;
          }
        }
        .right_content{
          display: inline-block;
          width: 440px;
          .href_link_title{
            font-size: $font_16;
            color: $font_color_33;
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
            margin-bottom: 15px;
            display: block;
            font-weight: bold;
          }
          .href_link_text{
            font-size: $font_14;
            color: $font_color_64;
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
            display: block;
          }
        }
        .solid_border{
          width: 420px;
          border-bottom: 0.5px dashed #C9C9C9;
          margin-top: 24px;
        }
      }
      li:first-child{
        .left_content{
          background: $auxiliary_color_CE;
        }
      }
    }
  }
}
//栗学院
.college_content{
  padding-top: 20px;
  .select_type{
    padding-top: 15px;
    text-align: center;
    font-size: 0;
  }
  .curriculum_list{
    margin-top: 40px;
    ol{
      font-size: 0;
      li{
        border-radius: 4px;
        overflow: hidden;
        cursor:pointer;
        width: 24%;
        display: inline-block;
        vertical-align: middle;
        margin-right: 1.333%;
        background: $bg_with_2;
        margin-bottom: 20px;
        .code_case{
          .code{
            display: none;
          }
        }
        img{
          width: 100%;
          height: 100%;
          position: relative;
          top: -2px;
        }
        .curriculum_content{
          padding: 10px;
          >a{
            min-height: 60px;
            font-size: $font_16;
            color: $font_color_33;
            display: block;
          }
          >div{
            span{
              color: $main_color;
              font-size: $font_14;
            }
            .over{
              color: $font_color_99;
            }
            .load{
              color: $auxiliary_color_FF;
            }
            .admission{
              color: $auxiliary_color_2B;
            }
            label{
              color: $font_color_66;
              font-size: $font_14;
            }
          }
        }
      }
      li:hover{
        transition: 0.15s;
        filter: drop-shadow(2px 2px 10px rgba(177, 5, 5, 0.15));
      }
      li.active{
        .code_case{
          position: relative;
          .code{
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: -2px;
            background: rgba(51, 51, 51, 0.4);
            img{
              width: 90px;
              height: 90px;
              position: absolute;
              left: 50%;
              top: 50%;
              -webkit-transform: translate(-50%,-50%);
              -moz-transform: translate(-50%,-50%);
              -ms-transform: translate(-50%,-50%);
              -o-transform: translate(-50%,-50%);
              transform: translate(-50%,-50%);
            }
          }
        }
        .curriculum_content{
          position: relative;
          .active_text{
            position: absolute;
            width: 100%;
            top: 0;
            line-height: 100px;
            background: $bg_with_2;
            height: 100%;
            text-align: center;
            font-size: $font_16;
            color: #000;
          }
        }
      }
      li:nth-child(4n+4) {
        margin-right: 0;
      }
    }
  }
  .selected_lecturers{
    position: relative;
    .swiper-container{
      width: 1000px;
      padding-top: 40px;
      padding-bottom: 30px;
      .swiper-slide{
        background: none;
        >div{
          cursor:pointer;
          background: $bg_with_2;
          display: block;
          margin: 0px 15px;
          .hover_text,.hover_img{
            display: none;
          }
          .slide_header{
            padding: 18px 20px 17px;
            position: relative;
            .slide_top{
              display: block;
              width: 104px;
              height: 104px;
              margin: 0 auto 8px;
              img{
                width: 100%;
                height: 100%;
              }
            }
            .slide_name{
              color: $font_color_33;
              font-size: $font_18;
              margin-bottom: 4px;
              display: block;
            }
            .slide_text{
              font-size: $font_14;
              color: $font_color_33;
              line-height: 21px;
              text-align: left;
            }
          }
          .slide_footer{
            position: relative;
            padding: 0px 10px 20px 10px;
            .default_text{
              font-size: $font_12;
              line-height: 16px;
              color: $font_color_66;
              li{
                margin-bottom: 10px ;
                padding-left: 30px;
                background: url(../images/icon_pa.svg) left center no-repeat;
              }
            }
          }
        }
      }
      .swiper-slide:hover{
        filter: drop-shadow(2px 2px 10px rgba(177, 5, 5, 0.15));
        .slide_header{
          .slide_name,.slide_text{
            text-decoration : underline;
          }
        }
        .hover_text{
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          background: #F7F9FA;
          left: 0;
          top: 0;
          padding: 20px 18px 20px;
          box-sizing: border-box;
          .template_btn_red{
            margin-bottom: 20px;
          }
          p{
            color: $font_color_66;
            font-size: $font_12;
          }
        }
      }
      .active{
        .slide_header{
          .slide_name,.slide_text{
            text-decoration : underline;
          }
        }
         .hover_text{
          display: block!important;
          position: absolute;
          width: 100%;
          height: 100%;
          background: #F7F9FA;
          left: 0;
          top: 0;
          padding: 20px 18px 20px;
          box-sizing: border-box;
          .template_btn_red{
            margin-bottom: 20px;
          }
          p{
            color: $font_color_66;
            font-size: $font_12;
          }
        }
        .hover_img{
          display: block!important;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          background: rgba(51, 51, 51, 0.4);
          top: 0;
          img{
            width: 96px;
            height: 96px;
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%,-50%);
            -moz-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            -o-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
          }
        }
      }
    }
    .swiper-button-next{
      right: 22px;
      position: absolute;
      background: url(../images/icon_right.svg) center center no-repeat;
    }
    .swiper-button-prev{
      left: 22px;
      position: absolute;
      background: url(../images/icon_left.svg) center center no-repeat;
    }
  }
}
//公用font-size:14px，line-height：21px;
.font_size_14 {
  font-size: 14px !important;
  line-height: 21px !important;
}
.font_size_16 {
  font-size: 16px !important;
  line-height: 24px !important;
}
//资讯干货
.good_left{
  display: inline-block;
  vertical-align: top;
  margin-right: 3%;
  width: 66%;
  .curriculum_list:not(:first-child){
    margin-top: 15px!important;
  }
  .curriculum_list ol li{
    width: 32%;
    margin-right: 2%;
  }
  .curriculum_list ol li:nth-child(4n+4){
    margin-right: 2%;
  }
  .curriculum_list ol li:nth-child(3n+3){
    margin-right: 0;
  }
  .timeinfo_list{
    font-size: 0;
    >li{
      padding: 20px 0;
    }
    >li:hover .riht_timeinfo_title{
      color: $main_color;
    }
    >li:first-child{
      padding-top: 0;
    }
    >li:not(:last-child){
      border-bottom: 0.5px solid #C9C9C9;
    }
    .left_timeinfo,.riht_timeinfo{
      display: inline-block;
      vertical-align: top;
    }
    .left_timeinfo{
      width: 22%;
      margin-right: 3%;
      position: relative;
      border-radius: 4px;
      overflow: hidden;
      cursor:pointer;
      img{
        width: 100%;
      }
      i{
        padding: 0 7px;
        position: absolute;
        right: 0;
        top: 0;
        background: $main_color;
        color: $font_color_ff;
        font-size: $font_12;
        line-height: 22px;
      }
    }
    .riht_timeinfo{
      width: 75%;
      .riht_timeinfo_title{
        cursor:pointer;
          color: $font_color_33;
          font-size: $font_18;
          line-height: 27px;
          margin-bottom: 5px;
          display: inline-block;
          i{
            display: inline-block;
            background: $main_color;
            color: $font_color_ff;
            padding: 0 7px;
            line-height: 27px;
            border-radius: 4px;
            margin-right: 8px;
            font-size: $font_12;
          }
      }
      .riht_timeinfo_text{
        color: $font_color_66;
        font-size: $font_16;
        line-height: 24px;
        margin-bottom: 6px;
      }
      .riht_timeinfo_ms{
        .riht_timeinfo_head{
          img{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin-right: 8px;
          }
          span{
            color: $font_color_66;
            font-size: $font_12;
            display: inline-block;
            line-height: 20px;
            vertical-align: middle;
          }
          margin-right: 8px;
        }
        .riht_timeinfo_ms_time{
          color: $font_color_66;
          font-size: $font_12;
        }
        .riht_timeinfo_ms_list{
          li{
            display: inline-block;
            vertical-align: middle;
            color: $font_color_66;
            font-size: $font_12;
            line-height: 20px;
            margin-right: 8px;
          }
        }
      }
    }
    .long_msg{
      .riht_timeinfo{
        width: 100%;
      }
    }
  }
  .template_btn_t2{
    display: inline-block;
    margin: 0 auto;
  }
}
.good_riht{
  display: inline-block;
  vertical-align: top;
  width: 30.6%;
  padding-top: 40px;
  .division{
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #C9C9C9;
    position: relative;
    >a{
      position: absolute;
      right: 0;
      top: 22px;
      line-height: 24px;
      color: #333333;
      font-size: 14px;
      line-height: 21px;
    }
  }
  .hot_text{
    position: relative;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    img{
      width: 100%;
    }
    p{
      width: 100%;
      padding: 0 10px;
      box-sizing: border-box;
      color: $font_color_ff;
      font-size: $font_16;
      position: absolute;
      line-height: 40px;
      left: 0px;
      bottom: 0;
      background: rgba(51, 51, 51, 0.4);
    }
  }
  .hot_text_list{
    li{
      margin-top: 20px;
      padding-left: 17px;
      position: relative;
      .hot_list_title{
        font-size: $font_16;
        margin-bottom: 10px;
      }
      span,i{
        color: $font_color_66;
        font-size: $font_12;
      }
    }
    li:after{
      border-radius: 50%;
      left: 0px;
      top: 8px;
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      background: $main_color;
    }
    li:hover{
      .hot_list_title{
        color: $main_color;
      }
    }
  }
}
//文章详情
.article_text{
  padding: 20px 20px 40px;
  margin-top: 20px;
  h3{
    font-size: $font_22;
    color: $font_color_33;
    line-height: 33px;
    margin-bottom: 20px;
  }
  >p{
    color: $font_color_99;
    font-size: $font_14;
    margin-bottom: 20px;
  }
  li{
    margin-bottom: 20px;
    color: $font_color_33;
    font-size: $font_16;
    img{
      width: 100%;
      display: block;
    }
  }
}
.enclosure_list{
  padding: 20px 20px 40px;
  >p{
    color: $font_color_33;
    font-size: $font_16;
    margin-bottom: 10px;
  }
  ul{
    li{
      padding-left: 30px;
      margin-top: 4px;
      position: relative;
      a{
        color: $auxiliary_color_2B;
        font-size: $font_16;
        text-decoration:underline;
      }
    }
    li:after{
      content: '';
      width: 18px;
      height: 18px;
      position: absolute;
      left: 0;
      top: 50%;
      background: url(../imagesPng/icon/icon_fujian.svg) center center no-repeat;
      background-size: 100% 100%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
  .explain_text{
    font-size: $font_14;
    color: $font_color_66;
    line-height: 21px;
    margin-top: 20px;
  }
}
.thumbs{
  display: block;
  width: 62px;
  height: 62px;
  border: 1px solid #C9C9C9;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  cursor:pointer;
  padding: 7px 10px  7px;
  border-radius: 50%;
  margin-bottom: 40px;
  .icon,i{
      display: block;
    margin: 0 auto;
    text-align: center;
  }
  .icon{
    width: 28px;
    height: 28px;
  }
  i{
    margin-top: 3px;
    color: $font_color_33;
    font-size: $font_12;
  }
  .select{
    display: none;
  }
  .default{
    display: block;
  }
}
.thumbs.active{
  border-color: $main_color;
  .select{
    display: block;
  }
  .default{
    display: none;
  }
}
.comment{
  margin-bottom: 40px;
  >p{
    color: $font_color_33;
    font-size: $font_18;
    font-weight: bold;
  }
}
.comment_case{
  margin-top: 25px;
  padding: 0 20px 10px;
  textarea{
    width: 100%;
    padding: 10px;
    color: $font_color_33;
    font-size: $font_14;
    height: 120px;
    box-sizing: border-box;
    resize:none;
  }
  .btn_case{
    font-size: 0;
    margin-top: 10px;
    text-align: right;
    span,label{
      display: inline-block;
      vertical-align: middle;
    }
    span{
      color: $font_color_66;
      font-size: $font_14;
      line-height: 40px;
      text-align: center;
      width: 99px;
      cursor:pointer;
    }
    label{
      color: $font_color_ff;
      font-size: $font_14;
      background: $main_color;
      width: 99px;
      border-radius: 4px;
      line-height: 40px;
      cursor:pointer;
      text-align: center;
    }
  }
}
.comment_list{
  >div{
    h3{
      color: $font_color_33;
      font-size: $font_18;
      display: inline-block;
      margin-right: 4px;
      font-weight: bold;
    }
    i{
      color: $font_color_66;
      font-size: $font_14;
    }
    margin-bottom: 20px;
  }
  >ul{
    >li{
     margin-bottom: 40px;
    }
  }
  .comment_main{
    margin-bottom: 10px;
    >img{
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin-right: 18px;
      display: inline-block;
      vertical-align: top;
    }
    >div{
      display: inline-block;
      vertical-align: top;
      width: 708px;
      .msg_case{
        margin-bottom: 6px;
        .name{
          color: $font_color_33;
          font-size: $font_16;
          line-height: 24px;
        }
        .time{
          color: $font_color_66;
          font-size: $font_14;
          line-height: 24px;
        }
      }
    }
  }
  .comment_content{
    margin-bottom: 10px;
    color: $font_color_33;
    font-size: $font_14;
    line-height:  21px;
  }
  .comment_msg{
    text-align: right;
    .icon,span,a,p{
      display: inline-block;
      vertical-align: middle;
    }
    .icon{
      width: 23px;
      height: 23px;
      margin-right: 6px;
      cursor:pointer;
    }
    span{
      color: $font_color_33;
      font-size: $font_14;
      line-height: 14px;
      padding-top: 6px;
    }
    a{
      margin-left: 30px;
      color: $font_color_66;
      font-size: $font_14;
      padding-top: 6px;
    }
    .icon.active{
      display: none;
    }
    p.active{
      .active{
        display: inline-block;
      }
      .default{
        display: none;
      }
    }
  }
  .comment_reply{
    padding: 10px 0 0px 10px;
    label{
      color: $auxiliary_color_2B;
    }
    span{
      color: $font_color_33;
    }
    label,span{
      font-size: $font_14;
    }
    li{
      margin-bottom: 5px;
      position: relative;
      padding-right: 30px;
      >span{
        position: absolute;
        right: 0;
        cursor:pointer;
        top: 0;
      }
    }
  }
}
.comment_none{
  padding: 30px 0 0px;
  margin-bottom: 0;
  text-align: center;
  p{
    padding-top: 10px;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
  }
}
// 干货合集
.dried_food{
  font-size: 0;
  text-align: center;
  padding-bottom: 40px;
  .dried_food_title{
    display: inline-block;
    vertical-align: middle;
    span,label{
      display: inline-block;
      vertical-align: middle;
    }
    span{
      font-size: 26px;
      line-height: 39px;
      color: #333333;
      margin-right: 20px;
    }
    label{
      font-size: 16px;
      line-height: 16px;
      color: $font_color_66;
    }
  }
  .dried_food_case{
    .icon{
      width: 22px;
      height: 22px;
      margin: 0 auto;
    }
    i{
      display: block;
      font-size: 12px;
      line-height: 18px;
      color: $font_color_66;
    }
    >div{
      cursor:pointer;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      .show{
        display: none;
      }
    }
    >div:first-child{
      margin-right: 20px;
    }
    .hover,.select{
      display: none;
    }
    >div:hover{
      .hover{
        display: block;
        width: 22px;
        height: 22px;
      }
      .default{
        display: none;
      }
      .show{
        display: block;
        position: absolute;
        z-index: 100000000;
        left: 0%;
        -webkit-transform: translateX(-38%);
        -moz-transform: translateX(-38%);
        -ms-transform: translateX(-38%);
        -o-transform: translateX(-38%);
        transform: translateX(-38%);
      }
    }
    >div.active{
      .default,.hover{
        display: none;
      }
      .select{
        display: block;
      }
    }
  }
}

// 服务商城
//公用class
.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex_between {
  display: flex;
  justify-content: space-between;
}
.store-banner {
  width: 100%;
}
.store {
  background: #E5E5E5;
  flex-direction: column;
  .bread_menu {
    width: 1200px;
    padding: 20px 0;
    a,span {
      color: $font_color_66;
      cursor: pointer;
    }
  }
  .store_product {
    display: flex;
    width: 1200px;
    .course_list {
      width: 792px;
      height: 187px;
      display: flex;
      background: #FFFFFF;
      margin: 0 40px 20px 0;
      padding: 20px 20px 22px;
      justify-content: space-between;
      .course_title {
        font-size: 18px;
        color: #333333;
        font-weight: bold;
        margin-bottom: 10px;
      }
      &:hover {
        .normal_content {
          display: none;
        }
        .hover_content {
          display: block;
          margin-top: 20px;
        }
      }
      .normal_content {
        display: flex;
        margin-right: 99px;
        p {
          color: $font_color_66;
          margin-left: 15px;
        }
        
      }
      .hover_content {
        display: none;
        div {
          text-align: center;
          margin-right: 40px;
          display: inline-block;
          p {
            margin: 4px 0;
            line-height: 18px;
          }
        }
      }
      .course_right {
        p {
          text-align: center;
        }
        .price {
          font-size: 20px;
          font-weight: bold;
          line-height: 30px;
          margin: 14px 0 34px;
          color: $auxiliary_color_FF;
        }
        .validity {
          color: $font_color_66;
          margin-top: 10px;
        }
      }
    }
    .all_info {
      margin-bottom: 47px;
      .problem_case {
        .store_tips {
          margin-bottom: 20px !important;
        }
        .problem {
          font-weight: 500;
          margin-bottom: 0 !important;
        }
        .answer span {
          font-weight: 500;
        }
      }
    } 
  }
  .my_account {
    width: 372px;
    height: 652px;
    padding: 20px;
    background: #fff;
    .btn {
      text-align: center;
      margin-bottom: 40px;
    }
    p {
      color: #333333;
    }
    .title {
      font-size: 18px;
      font-weight: bold;
      line-height: 27px;
      margin-bottom: 20px;
    }
    .second_title {
      margin: 40px 0 0;
    }
    .user_status {
      height: 60px;
      padding-left: 76px;
      background: url('../imagesPng/Avatar5.png') left center no-repeat;
      background-size: 60px 60px;
      .not_login {
        cursor: pointer;
        margin-bottom: 10px;
        &:hover{
          color: #E0473E;
          span {
            display: none;
          }
        }
      }
    }
    .balance_title {
      padding-top: 18px;
      .account_detail {
        color: $font_color_66;
        cursor: pointer;
        &:hover span {
          color: #E0473E;
        }
      }
      p:first-child {
        font-size: 16px;
        font-weight: 500;
      }
    }
    .balance_title,.balance_count {
      width: 332px;
      display: flex;
      p:first-child {
        flex: 1;
      }
      p:nth-child(2) {
        margin-right: 10px;
      }
    }
    .balance_count {
      padding-bottom: 34px;
    }
    ul {
      margin: 14px 0;
      li {
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 10px;
      }
    }
    .info {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 54px;
      justify-content: space-between;
      p {
        width: 166px;
        color: #fff;
        line-height: 40px;
        text-align: center;
        border: 1px solid #FFFFFF;
        background: rgba(224, 71, 62, 0.8);
      }
    }
  }
}
// 金栗充值
.pay_dialog {
  width: 740px;
  height: 484px;
  padding: 40px;
  overflow-y: hidden;
  position: relative;
  border-radius: 10px;
  margin: 258px auto 0;
  background: #FFFFFF;
  >p {
    font-size: 22px;
    line-height: 33px;
    font-weight: bold;
  }
  .icon {
    top: 44px;
    right: 40px;
    cursor: pointer;
    color: #363F4D;
    font-size: 16.68px;
    position: absolute;
  }
  .flex_between {
    margin-top: 34px;
    .title {
      font-size: 18px;
      line-height: 46px;
    }
  }
  .total_prices {
    margin: 22px 0 40px;
    p {
      font-size: 18px;
      line-height: 27px;
    }
  }
  .discription {
    color: $font_color_66;
    margin-bottom: 40px;
  }
}
.account_input {
  width: 160px;
  display: flex;
  line-height:44px;
  border-radius: 4px;
  background: #F7F9FA;
  border: 0.5px solid #E0E0E0;
  p {
    width: 40px;
    cursor: pointer;
    text-align: center;
  }
  .account_number {
    flex: 1;
    width: 80px;
    border-style: solid;
    border-width: 0 1px;
    border-color:#E0E0E0;
  }
}
// 金栗明细
.table_header,
.table_content div {
  display: flex;
  border-bottom: 0.5px solid #C9C9C9;
  span {
    flex:1;
    text-align: center;
    padding: 20px 0 10px;
    display: inline-block;
  }
}
.table_header {
  span {
    font-size: 18px;
    line-height: 27px;
  }
}
.table_body {
  height: 300px;
  overflow: auto;
  .table_content {
    span {
      color: $font_color_66;
      padding-top: 10px;
    }
  }
}
// 订阅服务
.subscription_service {
  width: 792px;
  height: 430px;
  padding: 20px;
  position: relative;
  margin:0 40px 40px 0;
  background: #FFFFFF;
  .flex_layout {
    margin: 10px 0 45px;
    img {
      width: 232px;
      height: 130px;
    }
  }
  .service_title {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
  }
  .swiper-container {
    overflow: hidden;
    display: flex;
    width: 674px;
    .swiper-slide {
      margin-right: 28px;
    }
    .swiper-slide,.icon {
      height: 60px;
      position: relative;
      width: 146px !important;
    }
    .coupons {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      cursor: pointer;
      position: absolute;
      align-items: center;
      padding: 0 18px 0 6px;
      justify-content: space-between;
      p,span {
        font-size: 14px;
        color: #E0473E;
        font-weight: bold;
        line-height: 21px;
      }
      .money_off {
        font-size: 12px;
        line-height: 15px;
        color: $font_color_66;
      }
    }
  }
  .swiper-button-prev {
    width: 23px !important;
    left: -10px !important;
    background-image: url('../imagesPng/icon/arrow_left.png') !important;
    background-size: auto 23px;
  }
  .swiper-button-next {
    width: 23px !important;
    right: -3px  !important;
    background-image: url('../imagesPng/icon/arrow_right.png') !important;
    background-size: auto 23px;
  }
  .money {
    display: flex;
    margin-top: 69px;
    justify-content: space-between;
    p,span {
      font-size: 18px;
      font-weight: 500;
      line-height: 44px;
    }
    span {
      margin-left: 20px;
      color: $main_color;
    }
    a {
      width: 140px;
    }
  }
}

.flex_layout {
  display: flex;
  .content {
    margin-left: 20px;
    >p {
      margin-bottom: 17px;
    }
    .service_detail {
      width: 220px;
      display: flex;
      margin-bottom: 10px;
      justify-content: space-between;
      p {
        font-size: 14px;
        line-height: 21px;
      }
      .price {
        color: $main_color;
      }
      .account_input {
        width: 80px !important;
        line-height: 22px !important;
        p:not(:nth-child(2)) {
          width: 20px !important;
        }
      }
    }
  }
}
.problem_case {
  .service_tips {
    margin-bottom: 10px !important;
  }
  .service_agreement {
    margin-bottom: 40px !important;
    .icon {
      font-size: 18px;
      line-height: 18px;
      margin-right: 6px;
    }
    span {
      color: $font_color_66;
    }
    a {
      color: #0087ff;
    }
    span,a {
      font-size: 14px;
    }
  }
}
.pay_price {
  width: 1200px;
  height: 144px;
  background: #fff;
  margin: 0 auto 20px;
  padding: 15px 38px 20px;
  .flex_layout {
    align-items: center;
    img {
      width: 186px;
      height: 104px;
    }
  }
  .order_number {
    color: $font_color_66;
    margin-bottom: 20px !important;
  }
  .order_content {
    width: 100% !important;
    .order_title {
      font-weight: 500;
      margin: 0 0 17px -8px;
      line-height: 30px !important;
    }
    .order_price {
      font-size: 20px;
      font-weight: 500;
      line-height: 30px;
      color: $main_color;
      margin-bottom: 17px;
    }
    .font_size_14,.font_size_14 span {
      color: $font_color_66;
    }
    .count_down {
      color: $main_color !important;
    }
  }
}
.pay_code {
  width: 1200px;
  height: 296px;
  margin-bottom: 20px;
  background: #FFFFFF;
  .title {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    margin: 20px 0 0 40px;
  }
  .code {
    height: 114px;
    position: relative;
    background: url('../imagesPng/QR_code.png') center center no-repeat;
    background-size: 114px 114px;
    p {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 16px;
      font-weight: 500;
      margin-left: 70px;
      margin-top: -16px;
      line-height: 24px;
    }
    p:nth-child(2) {
      margin-top: 8px;
      color: $main_color;
    }
    .code_mask {
      width: 114px;
      height: 114px;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -57px;
      background: rgba(153, 153, 153, 0.6);
    }
  }
  .tips {
    margin: 4px 010px;
    text-align: center;
    color: $font_color_66;
  }
}
.pay_success {
  margin-top: 77px;
  flex-direction: column;
  img {
    width: 116px;
    height: 116px;
  }
  .success_tips {
    font-size: 18px;
    line-height: 27px;
    margin: 34px 0 73px;
    span {
      font-size: 18px;
      line-height: 27px;
      color: $main_color;
    }
  }
}